/* line 2, ../../../app/assets/stylesheets/layouts/main.css.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 8, ../../../app/assets/stylesheets/layouts/main.css.scss */
#main, #container {
  margin: 0;
  padding: 0;
  position: relative;
}
