
header {
    
    font-family: "KlavikaMediumPlain";
    
    position: fixed;
    z-index: 100;
//    width: 100%;
    top: 0;
    
    + div {
//        margin-top: 33px;
    }
    
    background-color: #2d2d2d;
    border-bottom: 1px solid #000000;

    padding: 0 50%;
  

    > nav {
      width: 960px;
      float:left; 
      margin-left: -480px;
        
        &, a, a:visited, a:link {
            color: #fbfaf7;
        }
        a, a:visited, a:link {
            text-decoration: none;
        }
        a:hover, a:focus {
            text-decoration: underline;
        }

        > ul > li > a {
            line-height: 2em;
            padding: 0 1em;
        }
        > ul > li:last-child > a {
            border-right: 1px dotted #898b8b;
        }
        
        
        
        > ul, > ul > li {
            float:left; 
        }
        
        
        
        text-transform: uppercase;
        
    }
    
    #search {
      position: absolute;
      top: 0;
      
      width: 960px;
      margin-left: -480px;
      text-align: right;
    }
    
}